exportPattern("^[[:alpha:]]+")
importFrom("grDevices", "rainbow")
importFrom("graphics", "plot", "rect", "text", "title")
importFrom("stats", "na.omit")
importFrom("utils", "download.file", "read.csv", "untar", "unzip",
             "write.csv", "write.table")
import("taxize")
import("pbapply")
import("seqRFLP")
import("RCurl")
import("XML")
import("ape", except = c(complement))
import("stringr")
import("phangorn", except = c(AICc))
import("msa")
import("Biostrings")
import("evobiR")
import("seqinr", except = c(translate,read.fasta,as.alignment,consensus,read.phy,write.fasta))
import("reutils")
import("traits")
import("ips", except=c(read.phy))
import("here")
import("reshape2")


